{{ content() }}

<ul class="pager">
    <li class="previous pull-left">
        {{ link_to("roles/index", "&larr; Go Back") }}
    </li>
    <li class="pull-right">
        {{ link_to("roles/create", "Create roles", "class": "btn btn-primary") }}
    </li>
</ul>

{% for role in page.items %}
{% if loop.first %}
<table class="table table-bordered table-striped" align="center">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Active?</th>
        </tr>
    </thead>
    <tbody>
{% endif %}
        <tr>
            <td>{{ role.id }}</td>
            <td>{{ role.name }}</td>
            <td>{{ role.active == 'Y' ? 'Yes' : 'No' }}</td>
            <td width="12%">{{ link_to("roles/edit/" ~ role.id, '<i class="icon-pencil"></i> Edit', "class": "btn") }}</td>
            <td width="12%">{{ link_to("roles/delete/" ~ role.id, '<i class="icon-remove"></i> Delete', "class": "btn") }}</td>
        </tr>
{% if loop.last %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="10" align="right">
                <div class="btn-group">
                    {{ link_to("roles/search", '<i class="icon-fast-backward"></i> First', "class": "btn") }}
                    {{ link_to("roles/search?page=" ~ page.before, '<i class="icon-step-backward"></i> Previous', "class": "btn ") }}
                    {{ link_to("roles/search?page=" ~ page.next, '<i class="icon-step-forward"></i> Next', "class": "btn") }}
                    {{ link_to("roles/search?page=" ~ page.last, '<i class="icon-fast-forward"></i> Last', "class": "btn") }}
                    <span class="help-inline">{{ page.current }}/{{ page.total_pages }}</span>
                </div>
            </td>
        </tr>
    </tfoot>
</table>
{% endif %}
{% else %}
    No roles are recorded
{% endfor %}
